# 必填：SAP S/4HANA Cloud API 基础地址
SAP_BASE_URL=https://your-system-api.s4hana.cloud.sap/sap/opu/odata/sap/API_SALES_ORDER_SRV
SAP_PO_BASE_URL=https://your-system-api.s4hana.cloud.sap/sap/opu/odata4/sap/api_purchaseorder_2/srvd_a2x/sap/purchaseorder/0001
SAP_PROD_BASE_URL=https://your-system-api.s4hana.cloud.sap/sap/opu/odata/sap/API_PRODUCTION_ORDER_2_SRV

# 必填：SAP 用户名和密码
SAP_USERNAME=your_username
SAP_PASSWORD=your_password

# 可选：Microsoft Teams 通知（Power Automate Flow URL）
TEAMS_FLOW_URL=
